* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F6F6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.white-txt{
    color: #FFFFFF;
}

.red-txt{
    color: #D20808;
}

.grey-txt{
    color: #5C5C5C;
}

.bold{
    font-weight: bold;
}

a{
    text-emphasis: none;
    text-decoration: none;
    color: #5C5C5C;
    font-weight: bold;
}

.categories a:active{
    color: #D20808
}
  
/* Default Desktop Styles*/

header{
    width: 100%;
    height: 70px;
    background-color: #21899A;
    padding: 3vh;
    position: sticky;
    top: 0;
    margin-bottom: 5vh;
}

.header-title{
    text-align: center;
}

.logo{
    width: 25px;
    height: 25px;
    margin: 0 auto
}

.container{
    display: inline-block;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
}

.main-article{
    width: 45vw;
    height: 75vh;
    border: #A8A8A8 solid 1px;
    background-color: #FFFFFF;
    float: left;
    padding: 2% 5% 15% 2.5%;
    border-radius: 3px;
}

.main-article-tag{
    margin-bottom: 20%;
}

.title{
    font-size: 2em;
    margin-bottom: 3%;
}

.sub-article{
    width: 40%;
    height: 40%;
    padding: 2%;
    float: right;
    background-size: cover;
    text-shadow: 1px 1px 2px #000000;
    margin: 0% 2% 4% 2%;
    border-radius: 3px;
}

.sub-article-tag{
    margin-bottom: 20%;
}

.sub-article-txt{
    font-size: large;
}

.divider{
    width: 100%;
    margin-bottom: 2%;
    border: #707070 solid 1px;
}

.news-list{
    display: inline-block;
    padding: 5% 7% 10% 7%;
    width: 100%;
}

.list-intro{
    display: flex;
    width: 100%;
}

.list-intro-title{
    width: 50%;
}

.categories{
    float: right;
    width: 50%;
}

.categories a {
    float: right;
    padding: 2%
}

.categories a:active{
    color: #D20808
}

.article{
    width: 100%;
    display: inline-flex;
    padding: 1% 3% 1% 3%;
    margin-top: 3%;
    border: #A8A8A8 solid 1px;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.article img{
    width: 30%;
    height: 30%;
}

.article p {
    margin: 2px;
}

.article-body{
    margin: 1% 2% 2% 5%;
}

.article-tag{
    display: flex;
    margin-bottom: 5%;
}

.article-tag p {
    width: 100%;
}

.article-category{
    float: right;
}

#btnShow{
    display: flex;
    padding: 1.5%;
    width: 25%;
    margin-top: 1%;
    margin: 0 auto;
    background-color: #21899A;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
}
  

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
    header{
        margin-bottom: 3vh;
    }
    
    .header-title{
        text-align: center;      
        font-size: 1em;

    }
    
    .logo{
        width: 35px;
        height: 35px;
    }
    
    .container{
        display: inline-block;
        margin-left: 3%;
        margin-right: 3%;
        height: 100%;
    }
    
    .main-article{
        width: 50vw;
        height: 100%;
        float: left;
        padding: 2% 5% 10% 2.5%;
    }

    .main-article-tag{
        margin-bottom: 20%;
    }

    .sub-article{
        width: 40%;
        height: 40%;
        float: right;
        margin: 0% 2% 5% 2%;
    }

    .sub-article-txt{
        font-size: 1.2em;
    }

    .categories{
        float: right;
        width: 60%;
        font-size: 1.3em;
    }

    .article-body{
        margin: 1% 2% 2% 5%;
        font-size: 1.4em;
    }

    .article img{
        margin-top: 3%;
        width: 30%;
        height: 30%;
    }
    
    #btnShow{
        padding: 3%;
        width: 30%;
        font-size: 1.5em;

    }
}    

/* Smartphones*/
@media only screen and (min-width: 320px) and (max-width: 767px) {

    header{
        width: 100%;
        height: 70px;
        padding: 3vh;
        position: sticky;
        top: 0;
        margin-bottom: 5vh;
    }  
    
    .header-title{
        text-align: center;
    }
    
    .logo{
        width: 25px;
        height: 25px;
        margin: 0 auto;
    }

    .container{
        display: inline-block;
        margin-left: 7%;
        margin-right: 7%;
        height: 100%;
    }

    .main-article{
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 3% 5% 15% 5%;
    }

    .main-article-tag{
        margin-bottom: 15%;
    }
    
    .title{
        font-size: 1.2em;
        margin-bottom: 7%;
    }

    .sub-article{
        width: 100%;
        height: 25vh;
        padding: 2%;
        display: block;
        margin: 5% 0% 5% 0%;
        overflow: auto;
    }

    .sub-article-tag{
        margin-bottom: 20%;
        text-shadow: 1px 1px 2px #707070;
    }

    .sub-article-txt{
        font-size: 1em;
        text-shadow: 2px 2px 2px #707070;
    }

    .divider{
        width: 100%;
        margin: 2%;
        border: #707070 solid 1px;
    }

    .news-list{
        display: inline-block;
        padding: 5% 7% 10% 7%;
        width: 100%;
    }

    .list-intro{
        display: block;
        width: 100%;
        margin: 0 auto
    }

    .list-intro-title{
        width: 100%;
        text-align: center
    }

    .categories{
        width: 100%;
        float: lnone;
        word-spacing: 1em;
        text-align: center;
    }

    .categories a {
        float: none;
        padding: 2%;
        margin: 0 auto
    }

    .article img{
        display: none;
    }

    .article p {
        margin: 2px;
    }

    .article-body{
        margin: 1% 2% 2% 5%;
        text-justify: newspaper;
    }

    .article-tag{
        display: flex;
        margin-bottom: 5%;
    }

    .article-tag p {
        width: 100%;
    }
    
    .article-category{
        float: right;
    }

    #btnShow{
        display: flex;
        padding: 3%;
        width: 40%;
        margin-top: 1%;
    }
}